extends ./layouts/root.jade

block content
  .row
    .col-md-2.col-lg-3
    .col-lg-6.col-md-8.col-sm-12
      br
      h2.page-title= __('login')
      h4.lead= subTitle
      ul.soclog(data-redirect=redirectUrl)
        li.soclog-item.facebook
          a(href=links.auth.facebook({ul: currentCulture.language, redirect: redirectUrl}))
            i
            = util.format(__('login_with_format'), 'Facebook')

        li.soclog-item.google
          a(href=links.auth.google({ul: currentCulture.language, redirect: redirectUrl}))
            i
            = util.format(__('login_with_format'), 'Google')


      br
      br
