extends ./layouts/catalog.jade

block catalog_content
  h2.page-title= title
  br
  .list.top-websites
    table.top-table
      thead
        tr
          th.first
          th= __('website')
          th.number(title=__('rating_title'))= __('rating')
      tbody
        each website, index in websites
          tr
            td.position= (index + 1)
            td.site
              a.domain(title=website.title, href=links.website(website.host, {ul:currentCulture.language}))= website.title
              a.ext(rel='nofollow', target='_blank', href=links.to(website.host))
                span.icon
              .title= website.url
            td.number.order-by
              if (website.ratings)
                = util.numberFormat(website.ratings.rank, 4, currentCulture.language)

