doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= (site.head.title || site.title)
    meta(name='description', content=site.head.description)
    meta(name='keywords', content=site.head.keywords)
    block styles
    link(type='text/css', rel='stylesheet', href='http://assets.ournetcdn.net/top20/css/int-639369e4.min.css')
    if (site.head.canonical)
      link(rel='canonical', href=site.head.canonical)
    link(rel='shortcut icon', href=config.favicon)
  body
    #page
      #page-layout
        #page-header
          .logo
            a(href='/int/'+currentCulture.country)
          .search
            form#cse-search-box(action='/int/search')
              div
                input(type='hidden', name='cx', value='partner-pub-0728889348996824:6629020902')
                input(type='hidden', name='cof', value='FORID:10')
                input(type='hidden', name='ie', value='UTF-8')
                input#q(type='text', name='q')
                input#submit-q(type='submit', name='sa', value='Search')
          #addbtndiv
            //- a.addbtn(href='/int/site/submit')
            //-   span.icon
            //-   | Submit a website
          .clear
        #page-top-content
          #page-top-adds
            script(type='text/javascript').
              <!--
              google_ad_client = "pub-0728889348996824";
              /* 728x90, Top20 Big Top */
              google_ad_slot = "9492112543";
              google_ad_width = 728;
              google_ad_height = 90;
              //-->
            script(type='text/javascript', src='http://pagead2.googlesyndication.com/pagead/show_ads.js')
        #page-wrapper
          #page-content
            div
              #left-content
                .section.list-view
                  h3 New sites
                  .list.sites.simple-view
                    ul
                      each item in newWebsites
                        li
                          a(href='/int/info/'+item.id, title=item.title)= item.url.replace(/^www\./i,'').substr(0,20)

              #center-content
                #location
                  .wrapper
                    .menu-control
                      span.menu-title
                        = currentCulture.countryName
                        span
                      .menu-content
                        ul.links
                          each item in countries
                            li
                              a(href='/int/'+item.id)= item.name
                          li
                            a(href='/int/countries') All countries
                        .clear
                      .clear
                    .menu-control.last
                      span.menu-title
                        if (category)
                          = category.en
                        else
                          | Select a category
                        span
                      .menu-content
                        ul.links
                          each item in categories
                            li
                              a(href='/int/'+currentCulture.country+'/c-'+item.id)= item.en
                        .clear
                      .clear
                    .clear
                h1= title
                block content
                .clear
                br
                br
              #right-content
                .section.adds-view
                  script(type='text/javascript').
                    <!--
                    google_ad_client = "ca-pub-0728889348996824";
                    /* Top20 Right Wide */
                    google_ad_slot = "8707529481";
                    google_ad_width = 160;
                    google_ad_height = 600;
                    //-->
                  script(type='text/javascript', src='http://pagead2.googlesyndication.com/pagead/show_ads.js')
              .clear
    script(type='text/javascript', src='http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en')
    br
    br
    script.
      (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-1490399-1', 'auto');
      ga('send', 'pageview');
